/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
    font-size: 100%;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body{
    background-color: aqua;
    width: 100%;
}
.wrapper{
    max-width: 63rem;
    margin: 0 auto;
}

.slider-container{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    height: 76vh;
    overflow: hidden;
    border: solid 5px red;
    width: 32rem;
    margin: 0 auto;
}

.slider-child{
    display: flex;
    scroll-behavior: smooth;
    width: 400%;
    height: 68vh;
    overflow: hidden;
}

input[name='btn-check']{
    height: 0;
    width: 0;
    visibility: hidden;
}

.slider-content img{
    object-fit: cover;
    max-width: 98%;
    height: 100%;
  
}

.slider-content{
    transition: all 1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    height: 100%;
}

.navigation-slider{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.label-nav{
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    background-color: brown;
    margin: 0.2rem;
    cursor: pointer;
}

#btn1:checked ~ .s1{
    margin-left: 0;
}
#btn2:checked ~ .s1{
    margin-left: -25%;
}
#btn3:checked ~ .s1{
    margin-left: -50%;
}
#btn4:checked ~ .s1{
    margin-left: -75%;
}

